<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>33002_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,154}</string>
                <key>spriteSourceSize</key>
                <string>{157,154}</string>
                <key>textureRect</key>
                <string>{{573,1},{157,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33002_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,156}</string>
                <key>spriteSourceSize</key>
                <string>{158,156}</string>
                <key>textureRect</key>
                <string>{{296,663},{158,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33002_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,159}</string>
                <key>spriteSourceSize</key>
                <string>{158,159}</string>
                <key>textureRect</key>
                <string>{{413,1},{158,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,160}</string>
                <key>spriteSourceSize</key>
                <string>{158,160}</string>
                <key>textureRect</key>
                <string>{{136,669},{158,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,160}</string>
                <key>spriteSourceSize</key>
                <string>{158,160}</string>
                <key>textureRect</key>
                <string>{{141,501},{158,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,160}</string>
                <key>spriteSourceSize</key>
                <string>{158,160}</string>
                <key>textureRect</key>
                <string>{{251,333},{158,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,157}</string>
                <key>spriteSourceSize</key>
                <string>{158,157}</string>
                <key>textureRect</key>
                <string>{{215,831},{158,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33002_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,153}</string>
                <key>spriteSourceSize</key>
                <string>{157,153}</string>
                <key>textureRect</key>
                <string>{{422,488},{157,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33002_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,161}</string>
                <key>spriteSourceSize</key>
                <string>{120,161}</string>
                <key>textureRect</key>
                <string>{{93,833},{120,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,163}</string>
                <key>spriteSourceSize</key>
                <string>{126,163}</string>
                <key>textureRect</key>
                <string>{{213,168},{126,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,163}</string>
                <key>spriteSourceSize</key>
                <string>{134,163}</string>
                <key>textureRect</key>
                <string>{{115,336},{134,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,163}</string>
                <key>spriteSourceSize</key>
                <string>{138,163}</string>
                <key>textureRect</key>
                <string>{{1,504},{138,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,162}</string>
                <key>spriteSourceSize</key>
                <string>{133,162}</string>
                <key>textureRect</key>
                <string>{{1,669},{133,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{341,166},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,158}</string>
                <key>spriteSourceSize</key>
                <string>{119,158}</string>
                <key>textureRect</key>
                <string>{{301,495},{119,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,158}</string>
                <key>spriteSourceSize</key>
                <string>{119,158}</string>
                <key>textureRect</key>
                <string>{{411,328},{119,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,104}</string>
                <key>spriteSourceSize</key>
                <string>{157,104}</string>
                <key>textureRect</key>
                <string>{{481,806},{157,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33002_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,103}</string>
                <key>spriteSourceSize</key>
                <string>{157,103}</string>
                <key>textureRect</key>
                <string>{{577,481},{157,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33002_5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,105}</string>
                <key>spriteSourceSize</key>
                <string>{157,105}</string>
                <key>textureRect</key>
                <string>{{532,322},{157,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33002_5_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,105}</string>
                <key>spriteSourceSize</key>
                <string>{157,105}</string>
                <key>textureRect</key>
                <string>{{578,160},{157,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33002_5_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,105}</string>
                <key>spriteSourceSize</key>
                <string>{158,105}</string>
                <key>textureRect</key>
                <string>{{471,162},{158,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33002_5_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,105}</string>
                <key>spriteSourceSize</key>
                <string>{157,105}</string>
                <key>textureRect</key>
                <string>{{374,823},{157,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33002_5_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,105}</string>
                <key>spriteSourceSize</key>
                <string>{157,105}</string>
                <key>textureRect</key>
                <string>{{454,647},{157,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33002_5_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,104}</string>
                <key>spriteSourceSize</key>
                <string>{157,104}</string>
                <key>textureRect</key>
                <string>{{561,647},{157,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33002_7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,165}</string>
                <key>spriteSourceSize</key>
                <string>{93,165}</string>
                <key>textureRect</key>
                <string>{{122,1},{93,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_7_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,165}</string>
                <key>spriteSourceSize</key>
                <string>{97,165}</string>
                <key>textureRect</key>
                <string>{{114,169},{97,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_7_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,166}</string>
                <key>spriteSourceSize</key>
                <string>{111,166}</string>
                <key>textureRect</key>
                <string>{{1,169},{111,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_7_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,166}</string>
                <key>spriteSourceSize</key>
                <string>{119,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_7_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,165}</string>
                <key>spriteSourceSize</key>
                <string>{112,165}</string>
                <key>textureRect</key>
                <string>{{1,337},{112,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_7_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,163}</string>
                <key>spriteSourceSize</key>
                <string>{98,163}</string>
                <key>textureRect</key>
                <string>{{217,1},{98,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_7_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,162}</string>
                <key>spriteSourceSize</key>
                <string>{90,162}</string>
                <key>textureRect</key>
                <string>{{1,833},{90,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33002_7_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,163}</string>
                <key>spriteSourceSize</key>
                <string>{94,163}</string>
                <key>textureRect</key>
                <string>{{317,1},{94,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chibang.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66e615363193752f64220ef630d2e05d:1d1e9758bc85fbe86d5dd32f7da8344e:31d9952766549635b458c95ad9174297$</string>
            <key>textureFileName</key>
            <string>chibang.png</string>
        </dict>
    </dict>
</plist>
